<div class="weather-wrapper">
  <div class="weather-attributes city-name">{{ weather_data.name }}</div>
  <div class="weather-attributes city-name">{{ weather_data.main.humidity }}</div>
  <div class="weather-attributes temprature-wrapper">
    <span class="weather-attributes city-name">{{ weather_data.main.temp_min }}</span>
    <span class="weather-attributes city-name">{{ weather_data.main.temp_max }}</span>
  </div>
  <div class="weather-attributes city-name">{{ weather_data.main.pressure }}</div>
  <div class="weather-attributes city-name">{{ weather_data.wind.speed }}</div>
</div>